/* contact me form  */

#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
}
	#contact-form fieldset {border:none; padding:0; width:100%; overflow:hidden;}
		#contact-form label {display:block; min-height:45px; position:relative;}
			#contact-form .message{min-height:198px;}
			#contact-form input, #contact-form textarea {
				padding:8px 14px 9px;
				margin:0;
				font: 13px Arial, Helvetica, sans-serif;
				color:#575757;
				background: #fff;
				outline:none;
				border:1px solid #cacaca;
				width:280px;
			}
			#contact-form .area .error {float:none;}
			#contact-form textarea {
				height:156px;
				/*resize:none;*/
				overflow:auto;
			}
			#contact-form .success {display:none; margin-bottom:15px;}
			#contact-form .error,
			#contact-form .empty {
				color:#f00;
				font-size:11px;
				line-height:14px;
				display:none;
				overflow:hidden;
				margin-bottom:5px;
			}
.buttons-wrapper{position:relative;}
.buttons-wrapper a {cursor:pointer;}
	.buttons-wrapper a[data-type="reset"]{margin-right:14px;}

@media only screen and (max-width: 995px) {
	/*#contact-form .message{min-height:230px;}*/
	#contact-form input, #contact-form textarea{width:240px;}
}
@media only screen and (max-width: 767px){
	#contact-form input, #contact-form textarea{width:350px;}
}
@media only screen and (max-width: 479px){
	#contact-form input, #contact-form textarea{width:230px;}
}