#slides{
	width: 100%;
	position:relative;
	overflow:hidden;
	padding-bottom:36px;
	background:url(../images/slider-shadow.png) center bottom no-repeat;
}
.slides_container{
	width:950px;
	height:378px;
	overflow:hidden;
}
.slide{width:940px; height:auto;}

/* Control Nav */
.pagination{
	position:absolute;
	top:325px;
	left:0;
	overflow:hidden;
	z-index:999;
	width:350px;
	font-size:0;
	line-height:0;
	text-align:center;
}
	.pagination li{
		display:inline-block;
		margin-left:2px;
		text-indent:-5000px;
	}
		.pagination li:first-child{margin-left:0;}
		.pagination li a{
			display:block;
			height:13px;
			width:13px;
			background: url(../images/pagination.png) 0 0 no-repeat;
		}
			.pagination li.current a,.pagination li a:hover{background-position:-15px 0;}
			.pagination li.current a{cursor:default;}

/* Caption */
.caption{
	z-index:999;
	position:absolute;
	top:0px;
	left:0px;
	width:350px;
	height:378px;
	overflow:hidden;
	background:url(../images/caption-tail.png) center top repeat;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#a5a5a5;
	text-align:center;
}
	.caption .text{
		position:absolute;
		top:0;
		left:0;
		width:220px;
		padding:136px 65px 0;
	}
	.caption h3{
		font:normal 18px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;
		color:#fff;
		text-transform:uppercase;
		margin-bottom:11px;
	}
@media only screen and (max-width: 995px){
	#slides{padding-bottom:29px; background-image:url(../images/slider-shadow-tp.png);}
	.slides_container{width:758px; height:301px;}
	.slide{width:758px;}
	.caption{width:280px; height:301px;}
		.caption .text{width:200px; padding:100px 40px 0;}
	.pagination{top:250px; width:280px;}
}
@media only screen and (max-width: 767px){
	#slides{padding-bottom:16px; background-image:url(../images/slider-shadow-ml.png);}
	.slides_container{width:420px; height:167px;}
	.slide{width:420px;}
	.caption {width:33px; height:167px;}
		.caption .text{display:none !important;}
	.pagination{width:13px; top:0; padding:10px;}
		.pagination li{display:block; margin-left:0; margin-bottom:2px;}
}
@media only screen and (max-width: 479px){
	#slides{padding-bottom:11px; background-image:url(../images/slider-shadow-mp.png);}
	.slides_container{width:300px; height:119px;}
	.slide{width:300px;}
	.caption{height:119px;}
}