html,body{height:100%;}
body{
	baxckground: url(../images/body-tail.gif) top center repeat-x #f8f8f8;
	font:13px/19px Arial, Helvetica, sans-serif;
	cdolor:#575757;
	position:relative;
	min-width:320px;
}
/*********************************header*************************************/
header{width:100%; padding:49px 0 33px;}
#page1 header{padding:49px 0 0;}
	header .indent-bottom{padding-bottom:33px;}
h1{float:left; padding-left:10px;}
	h1 a{
		display:block;
		width:189px;
		height:63px;
		overflow:hidden;
		background:url(../images/logo.png) 0 0 no-repeat;
		text-indent:-999em;
		white-space:nowrap;
	}
		h1 a:hover{text-decoration:none;}

/********************************* Content **********************************/
#content{width:100%;}
/*----- Global Structure -----*/
.img-indent{float:left; margin-right:20px;}
.img-indent1{float:left; margin-right:5px;}
.img-indent2{float:left; margin-right:10px;}
.img-indent5{float:left; margin-right:25px; padding-top:4px;}
.last-item{margin-right:0 !important; margin-bottom:0 !important;} 
.bold{font-weight:bold;}
/* ---------- Tags ---------*/
h3{font:normal 14px Arial, Helvetica, sans-serif; color:#3c3c3c;}
h6{font:bold 13px/19px Arial, Helvetica, sans-serif; color:#575757;}
	h6 a{color:#575757;}
		h6 a:hover{text-decoration:none; color:#FF3333;}
	h6 span{display:block; color:#FF3333;}

blockquote{width:100%;}
	.quote-caption{text-align:right;}
/*---------- Columns --------*/
.col-5-1{float:left; width:195px; margin-right:45px;}
/*----------- Boxes ----------*/
.box1{background:#fff;}
	.box1 .indents{padding:33px 10px 44px;}
	.box1 .indents1{padding:28px 48px 38px 40px;}
	.box1 .indents2{padding:33px 38px 44px 40px;}
.circle{
	display:block;
	width:55px;
	height:55px;
	overflow:hidden;
	background:#FF3333;
	float:left;
	margin-right:18px;
	font: bold 34px/53px Arial, Helvetica, sans-serif;
	color:#fff;
	text-shadow:1px 1px 0px rgba(0,0,0,.14);
	text-align:center;
	border-radius:27px;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
}
/*---------- Fonts ----------*/
.font-1X{font:28px/34px Arial, Helvetica, sans-serif; color:#646464;}

.font-1a  {
  font: normal 64px/70px 'CallunaBlack', Georgia, Times, Times New Roman, serif;
  color:#1A1A1A;
}
.font-1b {
  font: normal 45px/48px 'CallunaBlack', Georgia, Times, Times New Roman, serif;
  color:#1A1A1A;
}
.font-1 {
  font: normal 38px/30px 'CallunaBlack', Georgia, Times, Times New Roman, serif;
  color:#1A1A1A;
}
.font-2{font-size:12px; line-height:18px; color:#909090;}
/*---------- Links ----------*/
a{color:#11537C; outline:none; cursor:pointer; text-decoration:none;}
	a:hover{text-decoration: underline;}
a[href^="tel:"]{color:#575757; text-decoration:none;}
.link{font-weight:bold; color:#4b4b4b;}
	.link:hover{text-decoration:none; color:#FF3333;}
.link-1{color:#FF3333;}
	.link-1:hover{text-decoration: none; color:#575757;}
.button{display:inline-block; cursor:pointer;}
	.button:hover{text-decoration:none;}
/*---------- Lists -----------*/
.list-1 li{
	font:12px/14px Arial, Helvetica, sans-serif;
	color:#646464;
	padding-left:13px;
	background:url(../images/marker-1.png) 0 5px no-repeat;
	margin-bottom:6px;
}
	.list-1 a{color:#646464;}
		.list-1 a:hover{text-decoration:none; color:#FF3333;}

/*---------- Borders ---------*/
.border-top{border-top:1px solid #cacaca;}
.border-bottom{border-bottom:1px solid #cacaca;}
.border-bottom1{background:url(../images/pic2.gif) 0 bottom repeat-x;}
.border-bottom11-1{background:url(../images/pic1.gif) -240px bottom no-repeat;}
.border-bottom13-1{background:url(../images/pic1.gif) -160px bottom no-repeat;}
.border-bottom17-1{background:url(../images/pic1.gif) 0 bottom no-repeat;}
/*---------- Indents ---------*/
p, .p3-1{margin-bottom:18px}
	.p0{margin-bottom:0;}		.p0-1{margin-bottom:3px;}
	.p1{margin-bottom:5px;}		.p1-1{margin-bottom:8px;}
	.p2{margin-bottom:10px;}	.p2-1{margin-bottom:12px;}
	.p3{margin-bottom:15px;}
	.p4{margin-bottom:20px;}	.p4-1{margin-bottom:22px;}
	.p5{margin-bottom:25px;}	.p5-1{margin-bottom:28px;}
	.p6{margin-bottom:30px;}	.p6-1{margin-bottom:32px;}
	.p7{margin-bottom:35px;}	.p7-1{margin-bottom:37px;}
	.p8{margin-bottom:40px;}	.p8-1{margin-bottom:42px;}
#page6 p{margin-bottom:19px;}
.indent-top5-1{padding-top:28px;}
.indent-right6-1{padding-right:33px;}
.indent-left3-1{padding-left:18px;}
.indent-bottom6{padding-bottom:30px;}
.indent-bottom9{padding-bottom:45px;}
.indent-bottom11{padding-bottom:55px;}
.indent-bottom12{padding-bottom:60px;}
/*-- Map ----*/
#map iframe{width:310px; height:344px; float:left; margin-right:25px;}
#map dl{width:100%; position:relative; overflow:hidden; margin-bottom:19px;}
#map dl span {float:left; width:70px;}
/*** Footer ***/
footer{
	width:100%;
	padding:34px 0 40px;
	font:14px/17px Arial, Helvetica, sans-serif;
	color:#969696;
}
	.footer-text a{color:#969696;}

/*=*/
@media only screen and (max-width: 995px) {
	p, .p3, .p3-1{margin-bottom:15px}
		.p4-1, .p5, .p5-1, .p6, .p6-1, .p7, .p7-1, .p8, .p8-1{margin-bottom:20px;}
		h3{margin-bottom:15px !important;}
	.img-indent5{margin-right:20px;}
	.col-5-1{margin-right:20px; width:168px;}
	.indent-right6-1{padding-right:20px;}
	.indent-left3-1{padding-left:0;}
	.indent-bottom9, .indent-bottom11, .indent-bottom12{padding-bottom:25px;}
	/*-----------------------------------------*/
	header{padding-top:29px !important;}
	.box1 .indents, .box1 .indents1, .box1 .indents2{padding:20px;}
	#map iframe{width:100%; height:200px; float:none; margin-right:0; margin-bottom:20px;}
	#map dl{width:190px; margin-bottom:0; float:left; margin-right:20px;}
	.border-bottom11-1{background-position:-324px bottom;}
	.border-bottom13-1{background-position:-260px bottom;}
	.border-bottom17-1{background-position:-133px bottom;}
}

@media only screen and (max-width: 767px) {
	.img-indent5{padding-top:0;}
	.col-5-1{margin-right:0; width:100%; float:none; margin-bottom:30px;}
	.indent-right6-1{padding-right:0;}
	/*-----------------------------------------*/
	h1{padding-left:0;}
	.border-bottom17-1, .border-bottom17-1{background:none; border-bottom:1px solid #cacaca;}
}

@media only screen and (max-width: 479px) {
	.img-indent-none-mp + .clear-ml{padding-top:0 !important;}
	#map dl{width:100%; margin-bottom:20px; float:none; margin-right:0;}
}

#footer_bottom { clear:both; text-align:center; }
.alignright { float:right; margin:0 0 10px 10px; }
.aligncenter { text-align:center; float:center; margin:0 0 10px 10px; }
.ad_center { text-align:center; }
.list_header{font-weight:bold; color:#646464;}

p {
padding: 7px 0 0 0;
font-family: Georgia, Times, Times New Roman, serif;
font-size: 13px;
}

p {
font-family: Georgia, Times, Times New Roman, serif;
font-size: 15px;
line-height: 22px;
text-indent: -0.025em;
margin-bottom: 15px;
}

.font-1 a {
  color:#1A1A1A;
}

.font_author {
font: 12px/18px "Lucida Grande", Arial, sans-serif;
}

.font_comments {
font: bold 13px/19px Arial, Helvetica, sans-serif;
}
