nav{
	position: relative;
	float:right;
	padding-top:22px;
	padding-right:10px;
}
#menu-icon{
	display:none;
	font:17px/21px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	padding:58px 0 15px;
	margin-top:-22px;
	width:63px;
	background:#2f2f2f;
	border:1px solid #414141;
	cursor:pointer;
}
.menu {list-style:none;}
.menu > li {
	position:relative;
	float:left;
	font:15px/19px Arial, Helvetica, sans-serif;
	margin-right:32px;
}
	.menu > li > a {color:#9b9b9b;}
		.menu > li.sfHover > a, .menu > li > a:hover, .menu > li.current > a {text-decoration:none; color:#333;}
	.menu > li > a .menu-arrow{
		display:none;
		width:9px;
		height:5px;
		overflow:hidden;
		text-indent:-999em;
		font-size:0;
		line-height:0;
		background:url(../images/menu-arrow.gif) center -15px no-repeat;
		position:absolute;
		top:-18px;
		left:-3px;
	}
		.menu > li.sfHover > a .menu-arrow, .menu > li > a:hover .menu-arrow{display:block;}
/***submenu***/
.menu ul {
	position:absolute;
	top:-999em;
	width:119px; 
	display:none;
	z-index:999;
	border:1px solid #dfdfdf;
}
.menu li li{
	width:100%;
	padding:0;
	position:relative;
	font:14px/17px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #d7d7d7;
}
	.menu li li.last-item{border-bottom:none;}
	.menu li li a{
		display:block;
		background:url(../images/submenu-tail.gif) center top repeat-x #fafafa;
		color:#5f5f5f;
		text-decoration:none;
		padding:9px 16px 10px;
	}
		.menu li li > a:hover, .menu li li.sfHover > a{
			color:#FF3333;
			text-decoration:none;
		}
	.menu ul .menu-arrow{display:none;}
.menu li:hover ul, .menu li.sfHover ul {left:-4px; top:34px;}
.menu li:hover li ul, .menu li.sfHover li ul {top:-999em;}
/***subsubmenu***/
.menu ul ul{width:95px; border:none;}
	.menu ul ul li{border-bottom:none;}
		.menu ul ul a{padding:10px 18px; background:url(../images/subsubmenu-tail.gif) center top repeat-x #e4e4e4;}
			.menu ul ul a:hover{color:#fff; background:#2f2f2f;}
.menu li li:hover ul, .menu li li.sfHover ul {left:120px; top:0px;}
.menu li li:hover li ul, .menu li li.sfHover li ul {top:-999em;}

@media only screen and (max-width: 995px){
	nav{padding-right:10px;}
	.menu > li > a .menu-arrow{display:block; background-position:center top;}
		.menu > li.sfHover > a .menu-arrow, .menu > li > a:hover .menu-arrow, .menu > li.current > a .menu-arrow{background-position: center -15px;}
	.menu ul .menu-arrow{display:inline;}
}

@media only screen and (max-width: 767px) {
	nav{padding-top:0; padding-right:0;}
	#menu-icon{display:block;}
	/*menu*/
	.menu{display:none; position:absolute; top:79px; right:0; width:119px; border:1px solid #dfdfdf; z-index:999;}
	.menu > li {float:none; width:100%; font-size:14px; line-height:17px; margin-right:0;border-bottom:1px solid #d7d7d7;}
		.menu > li.last-item{border-bottom:none;}
	.menu > li > a {display:block; background:url(../images/submenu-tail.gif) center top repeat-x #fafafa; color:#5f5f5f; padding:9px 16px 10px;}
		.menu > li.sfHover > a,.menu > li > a:hover , .menu > li.current > a {color:#FF3333;}
	.menu > li > a .menu-arrow{display:inline !important; width:auto; height:auto; text-indent:0; font-size: inherit; line-height: inherit; background: none; position:static;}
	/***submenu***/
	.menu ul {right:122px; left:auto !important; top:0 !important;}
		.menu li li.sfHover > a{color:#5f5f5f;}
		 	.menu li li a:hover{color:#FF3333;}
	.menu ul .menu-arrow{display:none;}
	/***subsubmenu***/
	.menu ul ul {position:static; width:auto; display:block !important;}
		.menu ul ul li{border-bottom:1px solid #d7d7d7;}
			.menu ul ul a{background-image:none; padding:10px 10px 10px 30px;}
				.menu ul ul a:hover{color:#fff;}
}

@media only screen and (max-width: 479px){

}

@media only screen and (min-width: 768px) {.menu {display:block !important;}}