{% extends "base.html" %}

{% block meta_desc %}
	<meta name="description" content="{{ abstract }}">
	<meta name ="keywords" content="{{ tags }}">
{% endblock %}

{% block page_title %}
	{{ title }} - {{Site.title}}
{% endblock %}
{% block top_bar_ad_content %}
{% endblock %}

{% block content %}
	<h1> <a href="" class="post_title">{{ title }}</a></h1>
	<div style="border: 1px dashed #f2f2f2; border-left: none; border-right: none; padding:5px; margin-bottom: 15px; margin-top: 10px;">
	{% include "ad_top_bar_responsive.html" %} 
	</div>
	<div class="row" style="padding-top:5px;">
		<div class="col-sm-2">
			{% include "tweetbutton.html" %} 
		</div>
		<div class="col-sm-2">
			{% include "gplusonebutton.html" %}
		</div>
		<div class="col-sm-2">
			{% if not post.disallow_comments %}
				<a><em><a class="font_comments2" href="#disqus_thread">Comments</a></em></a>
			{%endif%}
		</div>
	</div>
	<div class="row" style="padding-top:10px;">		
		{% if tags %}
		<p class="font_author">
			{% for tg in tags.split(',') %}
				{% set tag = tg.trim().toLowerCase() %}
				<a href="/tag/{{ tag.split(' ').join('-').split('#').join('-sharp') }}">
				<i class="icon-tag"></i> {{tag}}
				</a> 
				&nbsp;&nbsp;
			{% endfor %}
		</p>
		{% endif %}
	</div>
	<hr/>
	<span class="better_fonts">
	{{ content }}
	</span>
	<hr/>
	<p>
	{% include "sharethis_icons.html" %}
	</p>
	<hr/>
	<div style="text-align:center;">
		{% include "ad_sidebar_unit_first.html" %}
	</div>
	<hr/>
	{% include "comments.html" %}

{% endblock %}

{% block ad_bottom_content %}
{% endblock %}
