{% extends "base.html" %}
{% block content%}

<div class="indent-right6-1">

	{% if entries %}

	{% for entry in entries %}
		<div class="border-top indent-top5-1 indent-bottom11 ">

		<div class="wrapper">
			<div class="extra-wrap">

				<h2 class="font-1">
				<a href="/{{ entry.link }}" title="Permanent Link to {{entry.title}}">
					{{entry.title}}
				</a>
				</h2>

				{% include "entry_meta.html" %}
				
			</div>
			{% if entry.image_link != "" %}
			<figure class="img-indent5 img-indent-none-ml">

				<img src="{{ entry.image_link }}" width="150" height="150" alt="{{entry.title}} logo">

			</figure>
			{% endif %}
			<div class="excerpt_wrapper">
			<h3>{{entry.content_excerpt|safe}}</h3>
			</div>

			
		</div>

		<div class="extra-wrap">
		{% include "share.html" %}
		</div>
		</div>

	{% endfor %}

	{% else %}

	<div class="topPost"
	<h3 class="p5-1">Not Found</h3>
	  <div  class="wrapper"><p>Sorry, but you are looking for something that isn't here.</p></div>
	</div>

	{% endif %}

</div>


<div id="nextprevious">
<div class="alignleft">{% if show_next %}<a href="/page/{{ pageindex|add:"1" }}">&laquo; Older Entries</a>{%endif%}</div>
<div class="aligncenter">
<script type="text/javascript" src="/static/js/pagenavi.js"></script>
<script type="text/javascript">showPageLink("/page/",{{ pageindex }},{{ pagecount }},"");</script>
</div>
<div class="alignright">{% if show_prev %}<a href="/page/{{ pageindex|add:"-1" }}">Newer Entries &raquo;</a>{%endif%}</div>
<div class="cleared"></div>
</div>
	
{% endblock %}

